Movie Count {{movieCount}}
<table class="table table-striped">

  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      Boostrap Modal Dialog Body
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>

  <thead>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Action</th>
  </tr>

  </thead>
  <tr *ngFor="let movie of moviesData| async"
  >
    <td>
      {{ movie.name}}
    </td>
    <td>
      {{ movie.year}}
    </td>

    <td>
      <button (click)="editMovie(movie)" class="btn btn-primary">Edit</button>
    </td>
    <td>
      <button (click)="deleteMovie(movie)" class="btn btn-primary">Delete</button>
    </td>

  </tr>
</table>
