<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="row from-row">

    <label class="col-sm-4 ">
      Name

    </label>
    <input class="col-sm-4 form-control" type="text" formControlName="username">
    <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)"
         class="alert alert-danger">
      <div *ngIf="f.username.errors">
        EmployeeName is required.
      </div>
    </div>

  </div>

  <div class="row from-group-row">
    <label class="col-sm-4" >
      Password

    </label>
    <input class="col-sm-4 form-control"type="text" formControlName="password">
    <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
         class="alert alert-danger">
      <div *ngIf="f.password.errors">
        Year is required.
      </div>
    </div>

  </div>

  <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
</form>
